 
@model Electricad.Data.User


<div class="col-md-10 offset-md-1">
    <section>
      
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="login"></label>
                <input asp-for="login" class="form-control" />
                <span asp-validation-for="login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
        </form>

    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}    