@model Electricad.Data.About

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3 class="text-center">Edit about</h3>
<div class="container-sm">
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Userid" />
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div class="col-8 mt-4">
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="about_desc"></label>
                        </div>
                        <div class="col-8">
                            <textarea asp-for="about_desc" id="editor" class="form-control" style="height: 300px;"></textarea>
                            <span asp-validation-for="about_desc" class="text-danger"></span>
                        </div>
                    </div>



                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="about_file"></label>
                        </div>
                        <div class="col-8">
                            <input type="file" name="archivos" required id="subidaArchivo" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-md-8 col-md-offset-2 text-center">
                            <button type="submit" class="btn btn-primary btn-lg" asp-action="Edit" asp-route-id="@Model.Userid">Update</button>
                            <a asp-area="Admin" asp-controller="Offers" asp-action="Index" class="btn btn-success btn-lg" style="margin-left:20%;">Return</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="@Model.about_file" width="70%" height="50%" style="border-radius: 5px; border: 1px solid #bbb9b9;" />
            </div>

        </div>
    </form>

     

</div>
    @section Scripts{

    }

