<div class="row">
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary form-control">Create</button>
        &nbsp;
        <a asp-area="Admin" asp-controller="Offers" asp-action="Index" class="btn btn-success form-control">Return</a>

    </div>
 
</div>