@model Electricad.Data.Portfolio
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="text-center">Add a new image</h3>

<div class="container-fluid">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-8">
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-7 col-md-offset-3">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="id"></label>
                    </div>
                      <div class="col-8">
                            <label asp-for="sector_id" class="control-label"></label>
                            <select asp-for="sector_id" asp-items="@(new SelectList(Model.Sector,"id", "desc"))"
                             class="form-control"></select>
                            <span asp-validation-for="id" class="text-danger"></span>
                        </div>
                    </div>
   
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="port_file"></label>
                        </div>
                        <div class="col-8">
                            <input type="file" name="archivos" required="required" id="subidaArchivo" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-8 offset-4">
                            <partial name="_ViewCreateReturn" />
                        </div>
                    </div>
                </div>

        </div>
    </form>

</div>

@section Scripts{
    <script>
        CKEDITOR.replace('editor');</script>
}