@model Electricad.Data.Offers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="text-center">Create a new Slider</h3>

<div class="container-fluid">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-8">
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-7 col-md-offset-3">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="descount"></label>
                    </div>
                    <div class="col-8">
                        <input type="number" min="1" max="99" maxlength="4" asp-for="descount" class="form-control" />
                        <span asp-validation-for="descount" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="desc"></label>
                    </div>
                    <div class="col-8">
                        <textarea id="editor" asp-for="desc" class="form-control" style="height: 300px;"></textarea>
                        <span asp-validation-for="desc" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="offer_file"></label>
                    </div>
                    <div class="col-8">
                        <input type="file" name="archivos" required="required" id="subidaArchivo" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-8 offset-4">
                        <partial name="_ViewCreateReturn" />
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>

@section Scripts{
    <script>
        CKEDITOR.replace('editor');</script>
}